In [1]:
import sqlite3

In [2]:
# Create Connection
conn = sqlite3.connect('department.db')
cursor = conn.cursor()

In [3]:
cursor.execute("""
CREATE VIEW vw_employee_details AS
SELECT e.first_name, e.last_name, d.name AS department_name
FROM employee e
JOIN department d ON e.dep_id = d.department_id
""")

## TASK 1

In [11]:
cursor.execute("""
SELECT * FROM vw_employee_details
""")
results = cursor.fetchall()
for row in results:
    print(row)

('Amro', 'Rabea', 'Maadi dep')
('Mohammed', 'Gomaa', 'Maadi dep')
('Alice', 'Mike', 'Mokattam dep')
('Mohanad', 'Rabea', 'Mokattam dep')

## TASK 2

In [18]:
# CREATE OR UPDATE is not supported in sqlite3
cursor.execute("""
DROP VIEW IF EXISTS vw_employee_details
""")
cursor.execute("""
CREATE VIEW vw_employee_details AS
SELECT employee.first_name, employee.last_name
FROM employee
WHERE dep_id = 2;
""")
cursor.execute("""
SELECT * FROM vw_employee_details
""")
results = cursor.fetchall()
for row in results:
    print(row)

('Alice', 'Mike')
('Mohanad', 'Rabea')

## TASK 3

In [19]:
# Create table employee
cursor.execute('''CREATE TABLE IF NOT EXISTS supplier ( 
    sup_id INTEGER PRIMARY KEY AUTOINCREMENT,
    status INTEGER)''')

In [25]:
# Add employees
cursor.executemany(
    'INSERT INTO supplier (status) VALUES (?)', [
    (12, ),
    (20, ),
    (15, ),
    (13, ),
])
conn.commit()

In [28]:
# WITH CHECK OPTION is not supported also in sqlite3
cursor.execute("""
CREATE VIEW vw_high_status_suppliers AS
SELECT *
FROM supplier
WHERE status > 15
""")

In [29]:
cursor.execute("""
SELECT * FROM vw_high_status_suppliers
""")
results = cursor.fetchall()
for row in results:
    print(row)

(2, 20)